<div>
    <label class="control-label">Select Employees</label>
    <br/>
    <select ng-model="employees" ng-options="o as o for o in employees.Name">
    </select>
</div>
<h1>Week</h1>
<table class="table">
    <tr>
        <th>Task Name</th>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Saturday</th>
    </tr>
    <tr *ngFor="let item of timelog">
        <td>{{item.Task.Name}}</td>
        <td>{{item.Sunday.Effort}}</td>
        <td>{{item.Monday.Effort}}</td>
        <td>{{item.Tuesday.Effort}}</td>
        <td>{{item.Wednesday.Effort}}</td>
        <td>{{item.Thursday.Effort}}</td>
        <td>{{item.Friday.Effort}}</td>
        <td>{{item.Saturday.Effort}}</td>
        <td></td>
        <td></td>
    </tr>
</table>
<button >Back to List</button>
<button >Save</button>